body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(176, 176, 176);
  display: block;
  text-align: center;
  background-size: cover;
}
h1 {
  margin: 0 auto;
  font-size: 40px;
}

label {
  font-size: 25px;
}

select {
  font-weight: 600;
  border-radius: 20px;
  transition: all 200ms ease-in-out;
  padding: 3%;
  width: 300px;
  font-size: 20px;
}

button {
  color: rgb(0, 0, 0);
  transition: all 200ms ease-in-out;
  border-color: rgb(77, 77, 77);
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  font-size: 15px;
  padding: 2%;
  font-size: 20px;
}

button:hover {
  color: rgb(255, 0, 0);
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

form {
  padding: 1%;
}

footer {
  font-weight: 500;
  padding: 1%;
}
small {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  color: rgb(82, 82, 82);
}

a {
  font-weight: 600;
  transition: all 200ms ease-in-out;
  text-decoration: none;
  color: rgb(255, 0, 0);
}

a:hover {
  color: rgb(3, 0, 152);
}
.container {
  padding: 2%;
  display: block;
  margin: 0 auto;
}
.world-clock-container {
  padding: 3%;
  display: block;
  margin: 0 auto;
  background-color: #ffffff;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 1px 4px 5px rgb(126, 126, 126);
}
/*displaying cities*/
.actual-cities-preview {
  font-size: 20px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  border-radius: 20px;
  padding: 1%;
}

.cities-preview {
  transition: all 200ms ease-in-out;
  display: grid;
  grid-template-columns: 2fr 2fr;
  border-radius: 20px;
  padding: 1%;
}

.allcities-preview {
  display: grid;
  grid-template-columns: 2fr 2fr;
  border-radius: 20px;
  padding: 1%;
}

.actual_city {
  position: relative;
  top: 7px;
  font-size: 35px;
  color: red;
}
.actual_hour {
  font-weight: 900;
  font-size: 35px;
  position: relative;
  top: 15px;
}
.actual_date {
  color: grey;
  padding: 0%;
  font-size: 15px;
  position: relative;
  top: -2px;
}

.cityy {
  position: relative;
  top: 7px;
  font-size: 35px;
  color: red;
}
.hourr {
  font-weight: 900;
  font-size: 35px;
  position: relative;
  top: 15px;
}
.datee {
  color: grey;
  padding: 0%;
  font-size: 15px;
  position: relative;
  top: -2px;
}

.customize-buttons {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  padding: 2%;
}

/*All Cities*/
.allCities {
  padding: 1% auto;
}

strong {
  font-size: 15px;
}

.city_all {
  color: red;
  font-size: 25px;
  position: relative;
  top: 7px;
}
.hour_all {
  font-size: 35px;
  position: relative;
  top: 15px;
  font-weight: 800;
}
.date_all {
  font-size: 10px;
  position: relative;
  top: -15px;
  font-weight: 800;
}

/*Source Code */
.sourceCode {
  text-decoration: none;
  color: rgb(255, 0, 0);
  transition: all 200ms ease-in-out;
}

.sourceCode:hover {
  text-decoration: underline;
  border: 2px dashed white;
  color: rgb(219, 103, 255);
}

/*Night Time!*/

.darkmode {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(49, 49, 49);
  color: white;
  display: block;
  text-align: center;
  background-size: cover;
}

.darkmode .world-clock-container {
  background-image: url("");
  padding: 3%;
  display: block;
  margin: 0 auto;
  background-color: #252525;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 1px 4px 5px rgb(0, 0, 0);
}

.darkmode .allcities-preview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 20px;
}

.darkmode button {
  color: rgb(255, 255, 255);
  transition: all 200ms ease-in-out;
  border-color: rgb(77, 77, 77);
  background-color: rgb(66, 66, 66);
  border-radius: 20px;
  font-size: 15px;
  padding: 2%;
  font-size: 20px;
}
.darkmode select {
  font-weight: 600;
  border-radius: 20px;
  transition: all 200ms ease-in-out;
  padding: 3%;
  width: 300px;
  font-size: 20px;
  color: white;
  background-color: grey;
}

.darkmode .actual_date {
  color: rgb(255, 234, 0);
  padding: 0%;
  font-size: 15px;
  position: relative;
  top: -2px;
}
.darkmode .datee {
  color: rgb(255, 234, 0);
  padding: 0%;
  font-size: 15px;
  position: relative;
  top: -2px;
}

.darkmode button:hover {
  background-color: rgb(255, 224, 24);
  cursor: pointer;
}

/*Source Code */
.darkmode .sourceCode {
  text-decoration: none;
  color: rgb(255, 0, 0);
  transition: all 200ms ease-in-out;
}

.darkmode .sourceCode:hover {
  text-decoration: underline;
  border: 2px dashed white;
  color: rgb(0, 136, 255);
}

.darkmode a {
  transition: all 200ms ease-in-out;
  text-decoration: none;
  color: rgb(255, 0, 0);
}

.darkmode a:hover {
  color: rgb(0, 132, 255);
}
.darkmode small {
  color: rgb(255, 191, 0);
}
