body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgba(255, 247, 210, 0.701);
  display: block;
  text-align: center;
  background-size: cover;
}
h1 {
  margin: 0 auto;
  font-size: 40px;
}

label {
  font-size: 25px;
}

select {
  font-weight: 600;
  border-radius: 20px;
  transition: all 200ms ease-in-out;
  padding: 3%;
  width: 300px;
  font-size: 20px;
}

button {
  color: rgb(0, 0, 0);
  transition: all 200ms ease-in-out;
  border-color: rgb(255, 255, 255);
  background-color: rgb(255, 153, 174);
  box-shadow: 0px 0px 3px rgb(255, 176, 211);
  border-radius: 20px;
  font-size: 15px;
  padding: 4%;
}

button:hover {
  background-color: rgb(255, 199, 227);
  cursor: pointer;
}

form {
  padding: 1%;
}

footer {
  font-weight: 600;
  margin-top: -15px;
}
small {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
}
.container {
  padding: 2%;
  display: block;
  margin: 0 auto;
}
.world-clock-container {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/070/093/original/5640700fffffff.jpg?1677996059");
  background-size: cover;
  padding: 3%;
  display: block;
  margin: 0 auto;
  background-color: #b5d8de;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px black;
}
/*displaying cities*/
.actual-cities-preview {
  font-size: 20px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  border-radius: 20px;
  background-color: rgb(255, 230, 191);
  padding: 1%;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 1px 1px 20px rgb(255, 242, 237);
}

.cities-preview {
  display: grid;
  grid-template-columns: 2fr 2fr;
  border-radius: 20px;
  background-color: rgb(255, 200, 200);
  padding: 1%;
  border: 3px solid white;
}

.allcities-preview {
  display: grid;
  grid-template-columns: 2fr 2fr;
  border-radius: 20px;
  background-color: rgb(255, 200, 200);
  padding: 1%;
  border: 3px solid white;
}

.actual_city {
  position: relative;
  top: 7px;
  font-size: 35px;
}
.actual_hour {
  font-weight: 900;
  font-size: 35px;
  position: relative;
  top: 15px;
}
.actual_date {
  color: grey;
  padding: 0%;
  font-size: 15px;
  position: relative;
  top: -10px;
}

.cityy {
  position: relative;
  top: 7px;
  font-size: 35px;
}
.hourr {
  font-weight: 900;
  font-size: 35px;
  position: relative;
  top: 15px;
}
.datee {
  color: grey;
  padding: 0%;
  font-size: 15px;
  position: relative;
  top: -10px;
}

.customize-buttons {
  background-color: blanchedalmond;
  display: block;
  margin: 0 auto;
  width: 300px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 20px;
  padding: 2%;
}

/*All Cities*/
.allCities {
  padding: 1% auto;
}

strong {
  font-size: 15px;
}

.city_all {
  font-size: 25px;
  position: relative;
  top: 7px;
}
.hour_all {
  font-size: 35px;
  position: relative;
  top: 15px;
  font-weight: 800;
}
.date_all {
  font-size: 10px;
  position: relative;
  top: -15px;
  font-weight: 800;
}

/*Source Code */
.sourceCode {
  text-decoration: none;
  color: rgb(202, 52, 135);
  transition: all 200ms ease-in-out;
}

.sourceCode:hover {
  text-decoration: underline;
  border: 2px dashed white;
  color: deeppink;
}

/*Night Time!*/

.darkmode {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(66, 87, 99);
  color: white;
  display: block;
  text-align: center;
  background-size: cover;
}

.darkmode .world-clock-container {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/070/140/original/ffffffffffffffffffffffffffffffffffffjpg.jpg?1678035397");
  background-size: cover;
  padding: 3%;
  display: block;
  margin: 0 auto;
  background-color: #b5d8de;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 3px 2px 45px black;
}

.darkmode .actual-cities-preview {
  font-size: 20px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  border-radius: 20px;
  background-color: rgb(43, 81, 150);
  padding: 1%;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 20px rgb(86, 102, 144);
}

.darkmode .cities-preview {
  display: grid;
  grid-template-columns: 2fr 2fr;
  border-radius: 20px;
  background-color: rgb(59, 86, 121);
  padding: 1%;
  border: 3px solid rgb(39, 44, 57);
  box-shadow: 1px 1px 20px rgb(86, 102, 144);
}

.darkmode .allcities-preview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 20px;
  background-color: rgb(34, 77, 116);
  border: 3px solid rgb(27, 42, 58);
}

.darkmode .customize-buttons {
  background-color: rgb(53, 78, 120);
  display: block;
  margin: 0 auto;
  width: 300px;
  border: 2px solid rgb(32, 50, 79);
  border-radius: 20px;
  padding: 2%;
}
.darkmode select {
  font-weight: 600;
  border-radius: 20px;
  transition: all 200ms ease-in-out;
  padding: 3%;
  width: 300px;
  font-size: 20px;
  color: white;
  background-color: rgb(69, 71, 106);
}

.darkmode .actual_date {
  color: rgb(144, 174, 255);
  padding: 0%;
  font-size: 15px;
  position: relative;
  top: -10px;
}
.darkmode .datee {
  color: rgb(144, 174, 255);
  padding: 0%;
  font-size: 15px;
  position: relative;
  top: -10px;
}

.darkmode button {
  color: rgb(255, 255, 255);
  transition: all 200ms ease-in-out;
  border-color: rgb(13, 111, 197);
  background-color: rgb(71, 135, 191);
  box-shadow: 0px 0px 3px rgb(33, 73, 107);
  border-radius: 20px;
  font-size: 15px;
  padding: 4%;
}

.darkmode button:hover {
  background-color: rgb(103, 159, 255);
  cursor: pointer;
}

/*Source Code */
.darkmode .sourceCode {
  text-decoration: none;
  color: rgb(27, 137, 255);
  transition: all 200ms ease-in-out;
}

.darkmode .sourceCode:hover {
  text-decoration: underline;
  border: 2px dashed white;
  color: rgb(73, 255, 240);
}
