body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgba(159, 159, 159, 0.701);
  display: block;
  text-align: center;
  background-size: cover;
}
h1 {
  margin: 0 auto;
  font-size: 60px;
}

label {
  padding: 1%;
  font-size: 25px;
}

select {
  margin: 15px auto;
  border-radius: 20px;
  transition: all 200ms ease-in-out;
  padding: 3%;
  width: 300px;
  font-size: 20px;
}

button {
  box-shadow: 0px 0px 15px rgb(164, 164, 164);
  border-radius: 20px;
  font-size: 15px;
  padding: 1%;
}

form {
  padding: 1%;
}

footer {
  margin-top: -10px;
}
small {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
}
.container {
  padding: 2%;
  display: block;
  margin: 0 auto;
}
.world-clock-container {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/070/093/original/5640700fffffff.jpg?1677996059");
  padding: 5%;
  display: block;
  margin: 0 auto;
  background-color: #b5d8de;
  width: 800px;
  max-width: 800px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px black;
}
/*displaying cities*/
.actual-cities-preview {
  font-size: 20px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  border-radius: 20px;
  background-color: rgb(255, 230, 191);
  padding: 1%;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 1px 1px 20px rgb(255, 242, 237);
}

.cities-preview {
  display: grid;
  grid-template-columns: 2fr 2fr;
  border-radius: 20px;
  background-color: rgb(255, 200, 200);
  padding: 1%;
  border: 3px solid white;
}

.actual_city {
  font-size: 35px;
}
.actual_hour {
  font-weight: 900;
  font-size: 35px;
}
.actual_date {
  color: grey;
  padding: 0%;
  font-size: 15px;
}

.cityy {
  font-size: 35px;
}
.hourr {
  font-weight: 900;
  font-size: 35px;
}
.datee {
  color: grey;
  padding: 0%;
  font-size: 15px;
}
